$gray-base:              #000;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// Masonery
.item { 
	width: 25%;
	background: #f00;
}
.item img {
	width: 100%;
	height: 100%;
}
.item.w2 { width: 50%; }